.calendar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.calendar-month {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.indoor-sowing-month {
  background-color: #b7e1cd; 
}

.outdoor-sowing-month {
  background-color: #b7e1cd;
}

.harvest-month {
    background-color: #b7e1cd; 
}