.navbar {
    display: flex;
    color: #2D5039;
    font-weight: 500;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 999;
    position: relative;
    background-color: #87d5db;
    padding: 20px 15px;
}

.navLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    column-gap: 20px;
    margin-right: 20px
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.logo {
    width: 70%;
}
.link {
    font-size: 20px;
    margin-right: 10px;
}

