.weather-widget {
    width: 300px; 
    float: left;
    margin-right: 20px;
    margin-top: 70px;
    margin-left: 30px;
    padding: 20px;
    font-size: 15px;
  }
  
  .weather-widget form {
    margin-bottom: 10px;
  }
  
  .weather-widget label {
    display: block;
    margin-bottom: 5px;
  }
  
  .weather-widget input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .weather-widget button {
    padding: 5px 15px;
    background-color: #2D5039;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .weather-widget button:hover {
    background-color: #347d5b;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info p {
    margin-bottom: 10px;
  }
  
  .rain-message {
    color: #146e85;
    font-weight: bold;
    margin-top: 20%;
    width: 300px;
  }
  