/* header {
    position: fixed;
} */

.hero {
  margin-top: 5%;
  margin-left: -5%;
  color: #2D5039;
  padding: 10px;
}

.sowtitle, .harvesttitle, .cooktitle {
  font-size: 26px;
  font-weight: bold;
}

.sprout-img {
  max-width: 150px;
  align-items: center;
  margin: auto;
}
.harvest-img {
  max-width: 80%;
  align-items: center;
  margin: auto;
}

.cook-about {
  margin-top: 20px;
}

.sprout-img, .harvest-img, .cook-img {
  margin-bottom: 10px;
  margin-top: 10px;
}
.herotitle {
  font-size: 18px;
  font-style: italic;
}

.hero2 {
  display: grid;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 90px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  width: 85%;
}

.grass {
  position: fixed;
}
.sky {
  position: fixed;
  display: block;
  margin: 0 auto;
}

.logo-landing {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

.info-header {
  font-size: 56px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.text {
  font-size: 32px;
}

ul {
  list-style: none; /* remove default bullet points */
  padding-left: 1.5em; /* adjust padding to accommodate emoji */
}

ul li::before {
  content: ""; /* add empty content */
  display: inline-block;
  width: 1em; /* adjust width as needed */
  height: 1em; /* adjust height as needed */
  background-image: url("src/assets/veg-icons/carrot.png"); /* specify the emoji image */
  background-size: contain; /* ensure the image fits within the container */
  background-repeat: no-repeat; /* prevent the image from repeating */
  margin-right: 0.5em; /* adjust spacing between emoji and text */
}
