.landing-navbar {
    color: #2D5039;
    font-weight: 500;
    padding-top: 20px;
    z-index: 999;
    position: relative;
    background-color: #87d5db;
    padding: 28px 5px;
}

.landing-navLink {
    margin-left: 88%
}

.landing-link {
    font-size: 20px;
    margin-right: 30px;
}