@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8FEE6;
}

.kitchen {

   background: url(./assets/welcome-background.png) no-repeat center center/cover;
   min-height: 100vh;
}
 